<router-outlet></router-outlet>

<nav class="navbar navbar-expand-md navbar-light "style="background-color:#FDEAE4;"aria-label="Fourth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand"><b>BiblioCakes</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-default" (click)="gotohome()"><b>Accueil</b></button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-default" style="position:absolute;left:90%;"><b>Se connecter</b></button>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="dropdown04" data-bs-toggle="dropdown" class="btn btn-outline-default" aria-expanded="false"><b>Nos choix</b></a>
          <ul class="dropdown-menu" aria-labelledby="dropdown04">
            <li><a class="dropdown-item" routerLink="/sucres"><b>Nos Sucrés</b></a></li>
            <li><a class="dropdown-item" routerLink="/sales"><b>Nos Salés</b></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--
  suppPanier(f:BiblioCakes){
    for(let i=0;i<this.tabpanier.length;i++){
      if (this.tabpanier[i].name==f.name){
        this.tabpanier.splice(i,1)
      }
    }
  }
-->